# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
package-lock.json
assets/favicon_package_v0.16.zip
assets/favicon_package_v0.16/safari-pinned-tab.svg
assets/favicon_package_v0.16/favicon-32x32.png
assets/favicon_package_v0.16/favicon-16x16.png
assets/favicon_package_v0.16/favicon-16x16.png
assets/favicon_package_v0.16/mstile-150x150.png
assets/favicon_package_v0.16/site.webmanifest
assets/favicon_package_v0.16/site.webmanifest
assets/greenroboticon_200x200.png
assets/favicon_package_v0.16/android-chrome-192x192.png
.gitignore
assets/favicon_package_v0.16/apple-touch-icon.png
assets/favicon_package_v0.16/browserconfig.xml
assets/favicon_package_v0.16/favicon.ico
